/* ---------------------- NAVBAR BASIC ---------------------- */
.navbar {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  height: 84px;
  z-index: 2;
}

.navbar_wrapper {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 15px 20px;
}
/* ---------------------- NAVBAR BASIC ---------------------- */


/* ---------------------- NAVBAR LOGO ---------------------- */
.navbar_logo {
  flex: .2;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 100px;
  height: auto;
  border-radius: 4px;
}
/* ---------------------- NAVBAR LOGO ---------------------- */

/* .navbar__icon {
  font-size: 30px;
} */

/* ---------------------- NAVBAR SEARCH ---------------------- */
.navbar_search {
  display: flex;
  align-items: center;
}

input.search-navbar {
  background: #EEEEEE;
  border-radius: 16px;
  width: 444px;
  height: 42px;
  cursor: pointer;
}
/* ---------------------- NAVBAR SEARCH ---------------------- */


/* ---------------------- NAVBAR MENU DESKTOP ---------------------- */
.navbar_links {
  flex: .6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.navbar_link {
  list-style: none;
  cursor: pointer;
  font-size: 25px;
  transition: .2s;
  margin: 0 25px;
}

.navbar_link:hover,
.navbar_link:focus {
  transform: scale(1.25);
}

.icons-menu {
  color: black;
  display: flex;
}

.icons-menu:focus,
.icons-menu:hover {
  color: #7126B5;
}
/* ---------------------- NAVBAR MENU DESKTOP ---------------------- */


/* ---------------------- DROPDOWN NOTIF ---------------------- */
.dropdown-notif {
  z-index: 3;
}

.dropdown-content-notif {
display: none;
position: absolute;
width: 25vw;
height: 30vh;
right: -2.5vw;
background: #ffffff; 
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
border-radius: 16px;


overflow-y: scroll;
}

.dropdown-content-notif a {
color: black;
padding: 1vh;
text-decoration: none;
display: block;
}

.dropdown-content-notif a:hover {
background-color: #f0f0f5;
}

.dropdown-notif:hover .dropdown-content-notif,
.dropdown-notif:focus {
display: block;
}

.box-notif {
display: flex;
flex-direction: column;
}

.img-notif-dropdown {
width: 48px;
height: 48px;
border-radius: 12px;
object-fit: cover;
margin-inline-end: 1vw;
}

.notif1 {
display: flex;
flex-direction: row;
}

.text-notif-product {
margin-inline-end: 2rem;
display: flex;
flex-direction: column;
}

.small-notifdrop {
font-size: x-small;
padding-bottom: 5px;
}

.desc-notifdrop {
font-size: 14px;
padding-bottom: 3px;
}

.time-clock {
margin-inline-start: 3%;
}

.alerts-notifdrop {
background-color: #FA2C5A;
width: 8px;
height: 8px;
margin-inline-start: 3%;
margin-top: 2px;
margin-left: 10px;
}
/* ---------------------- DROPDOWN NOTIF ---------------------- */


/* ---------------------- NAVBAR MENU MOBILE ---------------------- */
.navbar_burger {
  font-size: 27px;
  display: none;
  cursor: pointer;
  color: black;
}
/* ---------------------- NAVBAR MENU MOBILE ---------------------- */


/* ---------------------- MEDIA SCREEN ---------------------- */
@media (max-width: 991px) {
  .navbar_links {
      display: none;
  }

  .navbar_burger {
      display: block;
  }

  .logo {
    width: 90px;
  }

  input.search-navbar {
      width: auto;
      height: auto;
  }
}
/* --------------- MEDIA SCREEN --------------- */

/* 
#navlogin {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 84px;
}

#navlogin li {
  padding-top: 15px;
  margin: 0 10px;
  font-size: larger;
} */

/* HAMBURGER MENU */
/* .ham-menu {
  border-style: none;
  background: none;
} */

  /* position: absolute; */
  /* right: 0; */

  /* cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;   */

/* nav {
  position: fixed;
  left: 0;
  top: 0;
  background: #f1f1f1;
  height: 100vh;
  transition: transform 0.4s ease-in-out;
}

nav.active {
  transform: translateX(0%)
}

nav a {
  display: block;
  padding: 10px 25px;
  font-size: 25px;
}

nav a:first-of-type{
  padding-top: 35px;
} */

/* .close-curtain {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #fff;
  background: crimson;
  z-index: 999;
} */

/* @media screen and (max-width: 770px){
  nav {
      transform: translateX(-100%);
  }
} */


/* SEARCH BAR */
/* input.search-navbar {
  background: #EEEEEE;
  border-radius: 16px;
  width: 444px;
  height: 42px;
} */

/* .container-search{
  overflow: hidden;
  width: 444px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-search input#search{
  width: 444px;
  height: 42px;
  background: #EEEEEE;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 20px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

.container-search button.icon{
  -webkit-border-top-right-radius: 16px;
  -webkit-border-bottom-right-radius: 16px;
  -moz-border-radius-topright: 16px;
  -moz-border-radius-bottomright: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
 
  border: none;
  background: #ffffff;
  height: 42px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-search:hover button.icon, .container-search:active button.icon, .container-search:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.container-search:hover button.icon:hover{
  background: rgb(215, 215, 215);
} */


/* DROPDOWN NOTIF */
